
.product-details {
  width: 50%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.product-details .details {
  display: flex;
  align-items: center;
}

.product-details img {
  width: 200px;
  height: 200px;
  margin-right: 20px;
  border-radius: 5px;
}
